* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* primary styles */

.primary-para {
  color: #3e3e3e;
  font-family: Poppins;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 28px;
}
.primary-btn {
  padding: 14px 31px;
  border-radius: 5px;
  background: #ff5959;

  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  border: none;

  cursor: pointer;
}
/* color */
.bg-color-1 {
  background-color: rgba(79, 157, 166, 0.1);
}
.bg-color-2 {
  background-color: rgba(255, 89, 89, 0.1);
}
.bg-color-3 {
  background-color: rgba(255, 244, 214, 1);
}

header,
main {
  padding: 0 15px;
}
/* header style */

header {
  max-width: 1128px;
  margin: 0 auto;
  margin-top: 50px;
}
.stay-focused-img {
  max-width: 450px;
  position: relative;
  bottom: 40px;
}
.stay-focused-img img {
  width: 100%;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.stay-focused-desc {
  max-width: 600px;
}
.stay-focused-desc .text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.stay-focused-desc h1 {
  color: #333;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Yeseva One";
  font-size: 3.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 133.333% */
  width: max-content;
}

.stay-focused-desc h1 .part2 {
  color: #ffad5a;
}
.verticle {
  height: 110px;
  width: 6px;
  border-radius: 5px;
  background: #ff5959;
}
.stay-focused-desc button {
  margin: 19px 0 33px 0;
}
.stay-focused-desc button ~ p {
  color: #434343;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
}

/* mission section */
.my-mission {
  max-width: 1128px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 80px;
}
.card > img {
  width: 141px;
}
.my-mission h2 {
  margin-bottom: 48px;

  color: #13103a;
  text-align: center;
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 700;
  line-height: 70px;
}
.my-mission h2 .year {
  color: #ffad5a;
}
.card {
  padding: 33px 13px 45px 32px;
  border-radius: 26px;
  max-width: 360px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.card h4 {
  color: #000;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 600;

  margin-top: 12px;
  margin-bottom: 16px;
}

/* info section */

.information .container {
  max-width: 1128px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  margin-bottom: 90px;
}
.information .container:nth-child(2n) {
  flex-direction: row-reverse;
}
.information .container .info-desc {
  max-width: 650px;
}
.info-img {
  max-width: 400px;
  position: relative;
}
.info-img img {
  width: 100%;
}

.img-2 {
  max-width: 220px;
  position: absolute;
  top: 50px;
  left: -94px;
  z-index: -1;
}
.img-2 img,
.img-4 img {
  width: 100%;
}
.img-4 {
  max-width: 220px;
  position: absolute;
  right: -90px;
  bottom: -74px;
  transform: rotate(20deg);
  z-index: -1;
}

.info-desc h2 {
  color: #333;
  font-family: Poppins;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.info-desc p {
  margin: 18px 0;
}
@media screen and (max-width: 576px) {
  .hero {
    flex-direction: column-reverse;
    gap: 30px;
    text-align: center;
  }
  .verticle,
  .img-2,
  .img-4 {
    display: none;
  }
  .stay-focused-desc h1 {
    font-size: 3rem;
  }
  .stay-focused-desc h1 {
    width: fit-content;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .information .container {
    flex-direction: column;
    text-align: center;
    gap: 35px;
  }
  .information .container:nth-child(2n) {
    flex-direction: column;
    gap: 35px;
  }
}
@media screen and (max-width: 992px) and (min-width: 577px) {
  .hero {
    flex-direction: column-reverse;
    gap: 30px;
    text-align: center;
  }
  .verticle,
  .img-2,
  .img-4 {
    display: none;
  }
  .information .container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .information .container:nth-child(2n) {
    flex-direction: column;
    gap: 40px;
  }
}
